@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/poppins-v20-latin-regular.woff2") format("woff2");
}
body {
  font-family: "Poppins";
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  margin: 0px;
}

.btn {
  max-width: 199px;
  max-height: 54px;
  background-color: #F58A07;
  color: #FFFFFF;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

#header {
  padding-bottom: 108px;
}

.nav-link {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  text-transform: capitalize;
  color: #394149;
}

.nav-link:hover {
  margin-bottom: 10px;
  transform: scale(1);
  transition: 0.8s;
  color: #f58a07;
}

.nav-link:hover::before {
  transform: scaleX(1);
}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: -2px;
  height: 6px;
  width: 100px;
  background-color: #f58a07;
  border-radius: 50px;
  transform: scale(0);
  transition: transform 0.2s linear;
}

.offcanvas-body {
  background: rgba(245, 138, 7, 0.1);
}

.offcanvas-header {
  background: rgb(245, 138, 7);
}

.offcanvas-title {
  margin-left: auto;
  margin-right: auto;
}

.item1::before {
  content: "";
  position: absolute;
  bottom: -2px;
  height: 6px;
  width: 75px;
  background-color: #f58a07;
  border-radius: 50px;
  transform: scale(0);
  transition: transform 0.2s linear;
}

.item1:hover::before {
  transform: scaleX(1);
}

.nav-link2::before {
  content: "";
  position: absolute;
  bottom: -2px;
  height: 6px;
  width: 70px;
  background-color: #f58a07;
  border-radius: 50px;
  transform: scale(0);
  transition: transform 0.2s linear;
}

.nav-link2:hover::before {
  transform: scaleX(1);
}

.nav-link3::before {
  content: "";
  position: absolute;
  bottom: -2px;
  height: 6px;
  width: 70px;
  background-color: #f58a07;
  border-radius: 50px;
  transform: scale(0);
  transition: transform 0.2s linear;
}

.nav-link3:hover::before {
  transform: scaleX(1);
}

.nav-link4::before {
  content: "";
  position: absolute;
  bottom: -2px;
  height: 6px;
  width: 40px;
  background-color: #f58a07;
  border-radius: 50px;
  transform: scale(0);
  transition: transform 0.2s linear;
}

.nav-link4:hover::before {
  transform: scaleX(1);
}

.navbar-toggler {
  display: none;
}

.navbar-nav2 {
  display: flex;
  align-items: center;
}

.nav-item {
  margin-left: 34px;
}

.main_header__list {
  display: flex;
  align-items: center;
  padding-top: 30px;
}

.header__btn {
  font-size: 16px;
  font-weight: 600;
  line-height: 106.5%;
  padding: 18px 32px;
  border-radius: 31px;
  background: rgba(245, 138, 7, 0.1);
  text-decoration: none;
  color: #f58a07;
}

.btn {
  margin-top: 15px;
  padding-left: -320px;
}

.item6 {
  margin-right: 34px;
}

@media screen and (max-width: 1000px) {
  .navbar-toggler {
    display: inline-block;
  }
  .main_header__list {
    display: none;
  }
  .btn {
    display: none;
  }
}
.hero__img {
  border-radius: 30px;
}

#hero {
  padding-bottom: 96px;
}

.info__sentence {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  margin-top: 20px;
  gap: 24px;
  color: #394149;
}

.info__img {
  display: flex;
  align-items: center;
  gap: 8px;
}

.info__wrap {
  display: flex;
  align-items: center;
  gap: 24px;
}

.info__title {
  width: 752px;
  font-size: 64px;
  font-weight: 600;
  line-height: 72px;
  margin-bottom: 32px;
  margin-top: 24px;
  letter-spacing: -1.92px;
  color: #1d3444;
}

.info__text {
  width: 752px;
  font-size: 16px;
  margin-bottom: 24px;
  font-weight: 500;
  line-height: 28px;
  color: #5b5b5b;
  margin-left: auto;
  margin-right: auto;
}

.info__title {
  margin-left: auto;
  margin-right: auto;
}

.info__subtitle {
  margin-left: auto;
  margin-right: auto;
}

.info__wrap {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.info__img {
  margin-left: auto;
  margin-right: auto;
}

.info__subtitle {
  width: 752px;
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -1.44px;
  margin-top: 24px;
  margin-bottom: 24px;
  color: #0d1317;
}

.info__text:last-child {
  margin-bottom: 0;
  padding-bottom: 128px;
}

#footer {
  background-color: #063255;
}

.footer__btn {
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}

.wrapper1 {
  padding-top: 82px;
}

.footer__img {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer__title {
  width: 351px;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -1.08px;
  margin-top: 32px;
  margin-bottom: 32px;
  color: #fff;
}

.wrapper__Sentence {
  font-size: 16px;
  font-weight: 500;
  margin-top: 80px;
  padding-bottom: 80px;
  color: #fff;
}

.footer__link {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
  text-decoration: none;
  color: #fff;
}

.link {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 30px;
  text-decoration: none;
  color: #fff;
}

.info_wrapp__email {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
  text-decoration: none;
  color: #fff;
}

.info_wrap__number {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}

.info__word {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}

.wrapper2 {
  display: flex;
  align-items: center;
  gap: 106px;
}

.wrapper3__title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 24px;
  color: #fff;
}

.footer__input {
  font-size: 16px;
  font-weight: 500;
  padding-top: 17px;
  padding-bottom: 18px;
  padding-left: 32px;
  padding-right: 188px;
  border-radius: 31px;
  margin-bottom: 24px;
  background: #fff;
  color: #9c9c9c;
}

.form__btn {
  font-size: 18px;
  font-weight: 600;
  line-height: 106.5%;
  padding: 18px 32px;
  border-radius: 31px;
  background: #f58a07;
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
}

.footer__container {
  display: flex;
  align-items: center;
  gap: 143px;
}

.form__sentence {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

.form__sentence2 {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

.sentences {
  gap: 32px;
  margin-top: 120px;
  display: flex;
  align-items: center;
}

.footer__container {
  background-image: url(../../images/img/left.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
}

#footer {
  background-image: url(../../images/img/right.png);
  background-repeat: no-repeat;
  background-position: right top;
}

@media screen and (max-width: 1000px) {
  .footer__container {
    flex-direction: column;
  }
}/*# sourceMappingURL=blog-inner.css.map */