@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/poppins-v20-latin-regular.woff2") format("woff2");
}
body {
  font-family: "Poppins";
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  max-width: 199px;
  max-height: 54px;
  background-color: #F58A07;
  color: #FFFFFF;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

nav {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.nav-link {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  text-transform: capitalize;
  color: #394149;
}

.nav-link:hover {
  margin-bottom: 10px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.8s;
  transition: 0.8s;
  color: #f58a07;
}

.nav-link:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: -2px;
  height: 6px;
  width: 100px;
  background-color: #f58a07;
  border-radius: 50px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.offcanvas-body {
  background: rgba(245, 138, 7, 0.1);
}

.offcanvas-header {
  background: rgba(245, 138, 7, 0.1);
}

.offcanvas-title {
  margin-left: auto;
  margin-right: auto;
}

.item1::before {
  content: "";
  position: absolute;
  bottom: -2px;
  height: 6px;
  width: 75px;
  background-color: #f58a07;
  border-radius: 50px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.item1:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.nav-link2::before {
  content: "";
  position: absolute;
  bottom: -2px;
  height: 6px;
  width: 70px;
  background-color: #f58a07;
  border-radius: 50px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.nav-link2:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.nav-link3::before {
  content: "";
  position: absolute;
  bottom: -2px;
  height: 6px;
  width: 70px;
  background-color: #f58a07;
  border-radius: 50px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.nav-link3:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.nav-link4::before {
  content: "";
  position: absolute;
  bottom: -2px;
  height: 6px;
  width: 40px;
  background-color: #f58a07;
  border-radius: 50px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.nav-link4:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.navbar-toggler {
  display: none;
}

.navbar-nav2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-item {
  margin-left: 34px;
}

.main_header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
}

.header__btn {
  font-size: 16px;
  font-weight: 600;
  line-height: 106.5%;
  padding: 18px 32px;
  border-radius: 31px;
  background: rgba(245, 138, 7, 0.1);
  text-decoration: none;
  color: #f58a07;
}

.btn {
  margin-top: 15px;
  padding-left: -320px;
}

.item6 {
  margin-right: 34px;
}

@media screen and (max-width: 1000px) {
  .navbar-toggler {
    display: inline-block;
  }
  .main_header__list {
    display: none;
  }
  .btn {
    display: none;
  }
}/*# sourceMappingURL=services.css.map */