@use "./../global.scss";

body {
  header {
    width: 100%;
    position: fixed;
    background-color: #fff;
    right: 0;
    left: 0;
    background-color: #fff;
    z-index: 10;
    .navbar {
      max-width: 1280px;
      padding: 20px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto;
      padding: 20px;
    }
    .collapse {
      padding-left: 20px;
      form {
        button {
          width: 173px;
          height: 52px;
          border: 1px solid #f58a071a;
          background-color: #f58a071a;
          color: #f58a07;
          border-radius: 31px;
          margin: 0 auto;
          transition: 0.4s;
          &:hover {
            background-color: #f58a07;
            color: #fff;
            border: 1px solid #f58a07;
          }
        }
      }
      .navbar-nav {
        width: 461px;
        display: flex;
        justify-content: space-between;
        padding-right: 20px;
        text-align: center;
        margin: 0 auto;
      }
    }
  }
  main {
    width: 100%;
    .hero {
      width: 100%;
      @media (max-width: 769px) {
        .hero__container {
          display: flex;
          align-items: center;
          flex-direction: column;
          margin: 0 auto;
          .hero__text {
            margin-bottom: 50px;
            text-align: center;
          }
        }
      }
      .hero__container {
        max-width: 1280px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        padding-top: 150px;
        .hero__text {
          h4 {
            max-width: 600px;
            font-family: Poppins;
            font-size: 60px;
            font-weight: 600;
            line-height: 72px;
            letter-spacing: -0.03em;
            text-align: left;
          }
          p {
            max-width: 510px;
            font-family: Poppins;
            font-size: 18px;
            font-weight: 500;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: left;
            margin-top: 24px;
            margin-bottom: 32px;
          }
          button {
            width: 173px;
            height: 52px;
            border: 1px solid #f58a07;
            background-color: #f58a07;
            color: #fff;
            border-radius: 31px;
            transition: 0.4s;
            &:hover {
              color: #f58a07;
              background-color: #fff;
              border: 1px solid #f58a07;
            }
          }
        }
      }
    }
    .experience {
      width: 100%;
      @media (max-width: 769px) {
        .experience__container {
          .experience__title {
            flex-direction: column;
            margin: 0 auto;
            .title__right {
              padding: 0 70px;
            }
          }
          .experience__info {
            flex-direction: column;
            margin: 0 auto;
          }
        }
      }
      .experience__container {
        max-width: 1280px;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0 auto;
        gap: 40px;
        margin-bottom: 100px;
        .experience__title {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .title__left {
            p {
              width: 587px;
              font-family: Poppins;
              font-size: 36px;
              font-weight: 600;
              line-height: 44px;
              letter-spacing: -0.03em;
              text-align: left;
            }
            .title__right {
              p {
                width: 620px;
                font-family: Poppins;
                font-size: 18px;
                font-weight: 500;
                line-height: 30px;
                letter-spacing: 0em;
                text-align: left;
                padding: 0 35px;
              }
            }
          }
        }
        .experience__info {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .experience__card {
            width: 264px;
            height: 192px;
            h3 {
              color: #f58a07;
              font-family: Inter;
              font-size: 36px;
              font-weight: 700;
              line-height: 50px;
              letter-spacing: 0px;
              text-align: left;
            }
            h6 {
              font-family: Poppins;
              font-size: 24px;
              font-weight: 600;
              line-height: 26px;
              letter-spacing: -0.03em;
              text-align: left;
              color: black;
              margin: 16px 0;
            }
            p {
              font-family: Poppins;
              font-size: 16px;
              font-weight: 500;
              line-height: 28px;
              letter-spacing: 0em;
              text-align: left;
            }
          }
        }
      }
    }
    .teamwork {
      width: 100%;

      .teamwork__container {
        max-width: 1280px;
        margin: 0 auto;
        margin-top: 100px;
        @media (max-width: 769px) {
          .teamwork__title {
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 0 30px;
          }
        }
        .teamwork__title {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          .teamwork__top--title {
            h3 {
              max-width: 577px;
              font-family: Poppins;
              font-size: 48px;
              font-weight: 600;
              line-height: 56px;
              letter-spacing: -0.03em;
              text-align: left;
            }
          }
          .teamwork__bottom--title {
            max-width: 721px;
            p {
              font-family: Poppins;
              font-size: 18px;
              font-weight: 500;
              line-height: 30px;
              letter-spacing: 0em;
              text-align: left;
            }
          }
        }
        .wrapper {
          width: 100vw;
          margin: 0 auto;
          height: 400px;
          background-color: #161616;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          transition: all 0.3s ease;
        }

        @media screen and (max-width: 767px) {
          .wrapper {
            height: 700px;
          }
        }

        .content {
          max-width: 1280px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 0 auto;
        }

        @media screen and (max-width: 767px) {
          .content {
            padding-top: 300px;
            flex-direction: column;
          }
        }

        .card {
          width: 290px;
          height: 521px;
          margin: 10px;
          border-radius: 20px;
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
          border: 2px solid rgba(7, 7, 7, 0.12);
          font-size: 16px;
          transition: all 0.3s ease;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          cursor: pointer;
          transition: all 0.3s ease;
        }
        .modify__card__first {
          background-image: url(../../images/about/Image\ 1.png);
          background-position: 100%;
          background-repeat: no-repeat;
          background-size: cover;
        }
        .modify__card__second {
          background-image: url(../../images/about/Image\ 2.png);
          background-position: 100%;
          background-repeat: no-repeat;
          background-size: cover;
        }
        .modify__card__third {
          background-image: url(../../images/about/Image\ 3.png);
          background-position: 100%;
          background-repeat: no-repeat;
          background-size: cover;
        }
        .modify__card__fourth {
          background-image: url(../../images/about/Image\ 4.png);
          background-position: 100%;
          background-repeat: no-repeat;
          background-size: cover;
        }

        .card .title {
          width: 100%;
          margin: 0;
          text-align: center;
          margin-top: 30px;
          color: white;
          font-weight: 600;
          text-transform: uppercase;
          letter-spacing: 4px;
        }

        .card .text {
          width: 100%;
          height: 233px;
          margin: 0 auto;
          font-size: 13px;
          margin-top: 250px;
          color: white;
          font-weight: 200;
          letter-spacing: 2px;
          opacity: 0;
          transition: all 0.3s ease;
          padding: 10px 20px;
          background-color: #000000;
          border-radius: 20px;
        }

        .card:hover {
          width: 290px;
          height: 521px;
          display: flex;
        }

        .card:hover .info {
          height: 90%;
        }

        .card:hover .text {
          transition: all 0.3s ease;
          opacity: 0.9;
          margin-bottom: -36px;
          .text__first {
            font-family: Poppins;
            font-size: 14px;
            font-weight: 600;
            line-height: 16px;
            letter-spacing: 0px;
            text-align: left;
          }
          .text__second {
            font-family: Poppins;
            font-size: 24px;
            font-weight: 600;
            line-height: 32px;
            letter-spacing: 0px;
            text-align: left;
          }
        }

        .card:hover .icon {
          background-position: -120px;
          transition: all 0.3s ease;
        }

        .card:hover .icon i {
          background: linear-gradient(90deg, #ff7e7e, #ff4848);
          background-clip: text;
          -webkit-text-fill-color: transparent;
          opacity: 1;
          transition: all 0.3s ease;
        }
      }
    }
    .work__with {
      width: 100%;
      @media (max-width: 769px) {
        .work__with--container {
          flex-direction: column;
          margin: 0 auto;
        }
      }
      .work__with--container {
        max-width: 1280px;
        margin: 0 auto;
        margin-top: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .work__with--text {
          max-width: 550px;
          padding: 20px;
          h3 {
            max-width: 550px;
            font-family: Poppins;
            font-size: 48px;
            font-weight: 600;
            line-height: 56px;
            letter-spacing: -0.03em;
            text-align: left;
          }
          p {
            max-width: 550px;
            margin-top: 24px;
            margin-bottom: 40px;
            font-family: Poppins;
            font-size: 18px;
            font-weight: 500;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: left;
          }
          .text__box {
            max-width: 249px;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .text__box--right {
              height: 60px;
              h6 {
                font-family: Poppins;
                font-size: 24px;
                font-weight: 500;
                line-height: 41px;
                letter-spacing: 0em;
                text-align: left;
                margin-bottom: -30px;
              }
              p {
                font-family: Poppins;
                font-size: 18px;
                font-weight: 500;
                line-height: 31px;
                letter-spacing: 0em;
                text-align: left;
                color: #f58a07;
              }
            }
          }
        }
        .work__with--img {
          width: 620px;
          height: 501px;
          background-image: url(../../images/about/Image\ modal.png);
          background-repeat: no-repeat;
          display: flex;
          align-items: end;
          justify-content: start;
          padding: 60px 45px;
          .modal__ahref {
            button {
              background-color: transparent;
              color: white;
              font-family: Inter;
              font-size: 25px;
              font-weight: 600;
              line-height: 18px;
              letter-spacing: 0px;
              text-align: left;
              text-decoration: none;
            }
          }
        }
      }
    }
    .latest {
      width: 100%;
      background-color: #dceaf5;
      padding: 96px 0;
      @media (max-width: 969px) {
        .latest__container {
          display: flex;
          align-items: center;
          .latest__title {
            text-align: center;
            margin: 0 auto;
          }
          .latest__box {
            flex-direction: column;
            align-items: center;
            .latest__box--card {
              margin: 20px 0;
            }
          }
        }
      }
      .latest__container {
        max-width: 1280px;
        margin: 0 auto;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        .latest__title {
          margin-bottom: 64px;
          h3 {
            font-family: Poppins;
            font-size: 48px;
            font-weight: 600;
            line-height: 56px;
            letter-spacing: -0.03em;
            text-align: left;
          }
        }
        .latest__box {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 0 auto;
          .latest__box--card {
            width: 400px;
            height: 507px;
            background-color: #fff;
            border-radius: 20px;
            .latest__card--container {
              width: 336px;
              margin: 32px;
              h3 {
                max-width: 336px;
                font-family: Poppins;
                font-size: 24px;
                font-weight: 500;
                line-height: 36px;
                letter-spacing: -0.03em;
                text-align: left;
              }
              p {
                max-width: 336px;
                font-family: Poppins;
                font-size: 16px;
                font-weight: 500;
                line-height: 28px;
                letter-spacing: 0em;
                text-align: left;
              }
              .card__link {
                a {
                  text-decoration: none;
                  color: #f58a07b6;
                  margin-right: 10px;
                  transition: 0.2s;
                  &:hover {
                    color: #f58a07;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.footer {
  width: 100%;
  background-color: #063255;
  background-image: url(../../images/about/Shape\ Left.png),
    url(../../images/about/Shape\ Right.png);
  background-position: left bottom, right top 30px;
  background-repeat: no-repeat;
  padding: 80px ;
  @media(max-width:962px){
    .footer__container{
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      .footer__top{
        display: flex;
        flex-direction: column;
        text-align: center;
      }
      .footer__bottom{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
      }
    }
  }
  .footer__container {
    max-width: 1280px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    .footer__top {
      max-width: 1280px;
      display: flex;
      align-items:flex-start;
      justify-content: space-between;
      .footer__media {
        max-width: 351px;
        .media__box {
          width: 136px;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        h6 {
          font-family: Poppins;
          font-size: 26px;
          font-weight: 600;
          line-height: 44px;
          letter-spacing: -0.03em;
          text-align: left;
          color: #fff;
        }
        h3 {
          font-family: Poppins;
          font-size: 36px;
          font-weight: 600;
          line-height: 44px;
          letter-spacing: -0.03em;
          text-align: left;
          color: #fff;
          margin: 32px 0;
        }
      }
      .footer__links {
        max-width: 337px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-right: 140px;
        margin-left: 110px;
        gap: 100px;
        ul {
          font-family: Poppins;
          font-size: 18px;
          font-weight: 600;
          line-height: 27px;
          letter-spacing: 0em;
          text-align: left;
          color: #fff;
          li {
            margin: 16px 0;
            a {
              text-decoration: none;
              font-family: Poppins;
              font-size: 16px;
              font-weight: 500;
              line-height: 24px;
              letter-spacing: 0em;
              text-align: left;
              color: rgba(255, 255, 255, 0.644);
              transition: 0.2s;
              &:hover{
                color: #fff;
              }
            }
          }
        }
      }
      .footer__search {
        max-width: 342px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        h3 {
          font-family: Poppins;
          font-size: 18px;
          font-weight: 600;
          line-height: 27px;
          letter-spacing: 0em;
          text-align: left;
          color: #fff;
        }
        form {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          input {
            width: 342px;
            border-radius: 31px;
            background-color: #fff;
            margin-top: 24px;
            margin-bottom: 16px;
            font-family: Inter;
            font-size: 16px;
            font-weight: 500;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
            padding: 14px 30px;
            outline: none;
            border: 1px solid #ffffff;
          }
          button {
            width: 156px;
            height: 54px;
            border-radius: 31px;
            background-color: #f58a07;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 600;
            line-height: 19px;
            letter-spacing: 0px;
            text-align: center;
            border: 1px solid #f58a07;
            color: #fff;
            transition: 0.3s;
            &:hover {
              background-color: #fff;
              color: #f58a07;
              border: 1px solid #fff;
            }
          }
        }
      }
    }
    .footer__bottom{
      width: 1280px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 80px;
      p{
        color: #fff;
      }
      a{
        text-decoration: none;
        color: #fff;
      }
    }
  }
}
