@use "./../global.scss";

#header {
  padding-bottom: 108px;
}

nav{
  background-color: #fff;
  z-index: 3;
}

.nav-link {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  text-transform: capitalize;
  color: #394149;
}

.nav-link:hover {
  margin-bottom: 10px;
  transform: scale(1);
  transition: 0.8s;
  color: #f58a07;
}

.nav-link:hover::before {
  transform: scaleX(1);
}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: -2px;
  height: 6px;
  width: 100px;
  background-color: #f58a07;
  border-radius: 50px;
  transform: scale(0);
  transition: transform 0.2s linear;
}

.offcanvas-body {
  background: rgba(245, 138, 7, 0.1);
}

.offcanvas-header {
  background: rgb(245, 138, 7);
}

.offcanvas-title {
  margin-left: auto;
  margin-right: auto;
}

.item1::before {
  content: "";
  position: absolute;
  bottom: -2px;
  height: 6px;
  width: 75px;
  background-color: #f58a07;
  border-radius: 50px;
  transform: scale(0);
  transition: transform 0.2s linear;
}

.item1:hover::before {
  transform: scaleX(1);
}

.nav-link2::before {
  content: "";
  position: absolute;
  bottom: -2px;
  height: 6px;
  width: 70px;
  background-color: #f58a07;
  border-radius: 50px;
  transform: scale(0);
  transition: transform 0.2s linear;
}

.nav-link2:hover::before {
  transform: scaleX(1);
}

.nav-link3::before {
  content: "";
  position: absolute;
  bottom: -2px;
  height: 6px;
  width: 70px;
  background-color: #f58a07;
  border-radius: 50px;
  transform: scale(0);
  transition: transform 0.2s linear;
}

.nav-link3:hover::before {
  transform: scaleX(1);
}

.nav-link4::before {
  content: "";
  position: absolute;
  bottom: -2px;
  height: 6px;
  width: 40px;
  background-color: #f58a07;
  border-radius: 50px;
  transform: scale(0);
  transition: transform 0.2s linear;
}

.nav-link4:hover::before {
  transform: scaleX(1);
}

.navbar-toggler {
  display: none;
}

.navbar-nav2 {
  display: flex;
  align-items: center;
}

.nav-item {
  margin-left: 34px;
}

.main_header__list {
  display: flex;
  align-items: center;
  padding-top: 30px;
}

.header__btn {
  font-size: 16px;
  font-weight: 600;
  line-height: 106.5%;
  padding: 18px 32px;
  border-radius: 31px;
  background: rgba(245, 138, 7, 0.1);
  text-decoration: none;
  color: #f58a07;
}

.btn {
  margin-top: 15px;
  padding-left: -320px;
}

.item6 {
  margin-right: 34px;
}

@media screen and (max-width: 1000px) {
  .navbar-toggler {
    display: inline-block;
  }
  .main_header__list {
    display: none;
  }
  .btn {
    display: none;
  }
}

//hero

.hero__content {
  padding-top: 100px;
}

.hero__title {
  max-width: 618px;
  font-size: 64px;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: -1.92px;
  margin-bottom: 24px;
  color: #1d3444;
}

.hero__text {
  max-width: 510px;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 32px;
  color: #5b5b5b;
}

.hero__btn {
  font-size: 16px;
  font-weight: 600;
  line-height: 106.5%;
  padding: 19px 32px;
  border-radius: 27px;
  text-transform: capitalize;
  text-decoration: none;
  color: #fff;
  background: #f58a07;
}

.hero__btn:hover {
  color: #f58a07;
  background: rgba(245, 140, 7, 0.1);
  transition: 0.8s;
}

.hero__img {
  max-width: 616px;
  padding-top: 100px;
}

.hero__container {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .hero__container {
    flex-direction: column-reverse;
  }

  .hero__img {
    max-width: 550px;
  }

  .hero__content {
    text-align: center;
  }

  .hero__text {
    margin-left: auto;
    margin-right: auto;
  }
}

//bussines

#bussines {
  padding-top: 128px;
  padding-bottom: 128px;
}

.bussines__img {
  max-width: 668px;
}

.bussines__title {
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -1.44px;
  color: #0d1317;
}

.bussines__text {
  width: 583px;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 24px;
  color: #5b5b5b;
}

.bussines__item {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 8px;
  margin-left: -30px;
  color: #5b5b5b;
}

.bussines__container {
  display: flex;
  align-items: center;
  gap: 77px;
}

@media screen and (max-width: 1000px) {
  .bussines__container {
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  .bussines__content {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .bussines__img {
    margin-left: 100px;
  }
}

//digital

.digital__title {
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -1.44px;
  margin-bottom: 24px;
  color: #0d1317;
}

.digital__text {
  width: 580px;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: #5b5b5b;
}

.digital__img {
  max-width: 668px;
}

.digital__container {
  display: flex;
  align-items: center;
  gap: 80px;
}

@media screen and (max-width: 1000px) {
  .digital__container {
    flex-direction: column-reverse;
  }

  .digital___img {
    max-width: 550px;
  }

  .digital__title {
    text-align: center;
  }

  .digital__text {
    text-align: center;
  }
}

@media screen and (max-width: 770px) {
  .digital__img {
    max-width: 500px;
  }
}

.digital__title {
  margin-bottom: 24px;
}

.wrapper__name {
  font-size: 24px;
  font-weight: 500;
  line-height: 171%;
  color: #063255;
}

.wrapper__work {
  font-size: 18px;
  font-weight: 500;
  line-height: 171%;
  color: #f58a07;
}

.wrapper {
  margin-bottom: 46px;
  display: flex;
  align-items: center;
  gap: 24px;
}

#artificial {
  padding-bottom: 128px;
}

.artificial__container {
  display: flex;
  align-items: center;
  gap: 110px;
}

.artificial__text {
  width: 580px;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: #5b5b5b;
}

.artificial__title {
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -1.44px;
  margin-bottom: 24px;
  color: #0d1317;
}

@media screen and (max-width: 1000px) {
  .artificial__container {
    flex-direction: column-reverse;
  }
}

//news
#news {
  background-color: #dceaf5;
}

.news__title {
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -1.44px;
  padding-top: 96px;
  margin-bottom: 64px;
  color: #0d1317;
  text-transform: capitalize;
}

.news__subtitle {
  width: 336px;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: -0.72px;
  color: #0d1317;
}

.news__item {
  max-width: 400px;
  border-radius: 20px;
  background: #fff;
}

.news__text {
  width: 336px;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: #5b5b5b;
}

.news__btn {
  display: flex;
  align-items: center;
  gap: 8px;
}

.btn__text {
  font-size: 16px;
  font-weight: 500;
  line-height: 106.5%;
  text-decoration: none;
  color: #f58a07;
}

.btn__img {
  margin-top: -15px;
}

.news__wrspper {
  padding: 32px;
}

.news__list {
  display: flex;
  align-items: center;
  gap: 40px;
  padding-bottom: 96px;
}

@media screen and (max-width: 1000px) {
  .news__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .news__title {
    text-align: center;
  }
}

@media screen and (max-width: 900px) {
  .news__list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .news__item {
    margin-left: auto;
    margin-right: auto;
  }
}

#footer {
  background-color: #063255;
}

.footer__btn {
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}

.wrapper1 {
  padding-top: 82px;
}

.footer__img {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer__title {
  width: 351px;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -1.08px;
  margin-top: 32px;
  margin-bottom: 32px;
  color: #fff;
}

.wrapper__Sentence {
  font-size: 16px;
  font-weight: 500;
  margin-top: 80px;
  padding-bottom: 80px;
  color: #fff;
}

.footer__link {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
  text-decoration: none;
  color: #fff;
}

.link {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 30px;
  text-decoration: none;
  color: #fff;
}

.info_wrapp__email {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
  text-decoration: none;
  color: #fff;
}

.info_wrap__number {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}

.info__word {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}

.wrapper2 {
  display: flex;
  align-items: center;
  gap: 106px;
}

.wrapper3__title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 24px;
  color: #fff;
}

.footer__input {
  font-size: 16px;
  font-weight: 500;
  padding-top: 17px;
  padding-bottom: 18px;
  padding-left: 32px;
  padding-right: 188px;
  border-radius: 31px;
  margin-bottom: 24px;
  background: #fff;
  color: #9c9c9c;
}

.form__btn {
  font-size: 18px;
  font-weight: 600;
  line-height: 106.5%;
  padding: 18px 32px;
  border-radius: 31px;
  background: #f58a07;
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
}

.footer__container {
  display: flex;
  align-items: center;
  gap: 143px;
}

.form__sentence {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

.form__sentence2 {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

.sentences {
  gap: 32px;
  margin-top: 120px;
  display: flex;
  align-items: center;
}

.footer__container {
  background-image: url(../../images/img/left.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
}

#footer {
  background-image: url(../../images/img/right.png);
  background-repeat: no-repeat;
  background-position: right top;
}

@media screen and (max-width: 1000px) {
  .footer__container {
    flex-direction: column;
  }
}
